<div class="filterButtons">
  <button data-gender="All">All</button>
  <button data-gender="Women">Womens</button>
  <button data-gender="Men">Mens</button>
  <button data-gender="Unisex">Unisex</button>
</div>

<style>
  div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  button {
    font-family: "Roboto Mono";
    font-weight: 400;
    padding: 5px 10px 5px 10px;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
</style>
