<header>
  <div>
    <h1><a href="#">Fashion R Us</a></h1>
    <div id="mesh"></div>
    <nav>
      <ul class="menu">
        <li><a href="#">Frontpage</a></li>
      </ul>
    </nav>
  </div>
</header>

<style>
  header {
    padding: 40px;
    padding-top: 40px;
  }
  .menu {
    display: flex;
    justify-content: center;
    gap: 60px;
    grid-row: 1;
    font-weight: 300;
    text-decoration: underline rgb(100, 100, 100);
    list-style: none;
  }

  .menu a {
    color: rgb(100, 100, 100);
    font-family: "Roboto Mono";
    font-size: 20px;
  }

  .menu a:hover {
    color: rgb(171, 171, 171);
    text-decoration: underline rgb(171, 171, 171);
  }
</style>
